.features{
    display: flex;
    height: 500px;
    justify-content: center;
    background-color: aquamarine;
    .container{
        display: flex;
        width: 100%;
        align-items: center;
        .left{
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        h1{
            font-size: 50px;
            font-weight: bold;
        }
        
        .right{

        }
    }
}