.footer {
    display: flex;
    justify-content: center;
    color: #666;
    background-color: #102a3c;

    img {
        width: 24px;
        height: 24px;
    }

    .container {
        width: 1400px;

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                width: max-content;
                display: flex;
                align-items: center;
                gap: 20px;

                .left-img {
                    width: 90px;
                    height: 70px;
                }

                span {
                    font-size: 13px;
                    white-space: nowrap;
                }
            }

            .right {
                width: max-content;
                display: flex;
                align-items: center;
                gap: 30px;

                .social {
                    display: flex;
                    gap: 20px;
                }

                .link {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}